#titel {
    -fx-font-size: 2.5em ;
    -fx-font-weight: bold;
}

.hoofding {
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.foutbericht {
    -fx-text-fill: red;
}

#status {
    -fx-background-color: ffeb5b;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-padding: 10.0px;
}

#stack-pane{
    -fx-background-image: url("gui/images/achtergrond.png");
    -fx-background-position: center center;
    -fx-text-background-color: yellow;
   
}

.scroll-pane{
	-fx-text-background-color: black;
}

